<article class="post-snippet">

  <div>
    <h2> <a href="{{ .RelPermalink }}">{{ .Title }}</a> </h2>
    <time style="color: #333;"datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "Jan 2, 2006" }}</time>
    <br>
    <p class="post-snippet-summary">{{ .Summary }}</p>
  </div>
  {{ if .Truncated }}
  <!-- This <div> includes a read more link, but only if the summary is truncated... -->
    <div style="margin-top: 0%;">
      <a class="post-snippet-summary" href="{{ .RelPermalink }}">{{ i18n "keepReading"}}</a>
    </div>
    {{ end }}
    
</article>
